extends ../layout

block content
  .container
    if post.id
      h1.page-header 호스팅수정
    else
      h1.page-header 호스팅하기

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST')
      .form-group
        label(for='email') Email address
        input.form-control(type='email', id='email', name='email', placeholder='Email', value=post.email)
        label(for='password') Password
        input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='title') Title
        input.form-control(type='text', id='title', name='title', placeholder='title', value=post.title)
      .form-group
        label(for='content') Content
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= post.content
       .form-group
        label(for='continet') 대륙
        select.form-control(name='continent')
          option(value='1', selected) 아시아
          option(value='2') 유럽
          option(value='3') 아메리카
          option(value='4') 오세아니아
          option(value='5') 아프리카

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
